<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<h2>Welcome <%= accountData.account_firstname %></h2>

<% if (locals.accountAdmin === "Admin" || locals.accountEmployee === "Employee") { %>
  <p>You're logged in.</p>
  <a href="/account/update/<%= accountData.account_id %>">Update Account Information</a>
  <h3>Inventory Management</h3>
  <a href="/inv">Access Inventory Management</a>
  <h3>My Reviews</h3>
  <table id="reviewDisplay"></table>
<% } else { %>
  <p>You're logged in.</p>
  <a href="/account/update/<%= accountData.account_id %>">Update Account Information</a>
  <h3>My Reviews</h3>
  <table id="reviewDisplay"></table>
<% } %>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/accountReviews.js"></script>
